        @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
        @font-face {
            font-family: 'FontAwesome';
            src: url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
            font-display: swap;
            font-weight: normal;
        }
        /*header section*/
        
        .header_section {
            padding: 15px 0;
            background-color: #000000;
        }
        
        .header_section .container {
            padding-right: 25px;
            padding-left: 25px;
        }
        
        .navbar-brand {
            font-family: 'Dancing Script', cursive;
        }
        
        .navbar-brand span {
            font-weight: bold;
            font-size: 32px;
            color: #ffffff;
        }
        
        .nav-container {
            padding: 0;
        }
        
        .nav-container .navbar-nav {
            padding-left: 18%;
        }
        
        .custom_nav-container .navbar-nav:hover {
            color: #ffc300;
        }
        
        .custom_nav-container .navbar-nav .nav-item .nav-link {
            padding: 5px 20px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        
        .custom_nav-container .navbar-nav .nav-item:hover .nav-link,
        .custom_nav-container .navbar-nav .nav-item.active .nav-link {
            color: #ffbe33;
        }
        
        .custom_nav-container .nav_search-btn {
            width: auto;
            height: auto;
            padding: 0;
            border: none;
            color: #ffffff;
            margin: 0 10px;
        }
        
        .custom_nav-container .nav_search-btn:hover {
            color: #ffbe33;
        }
        
        .user_option {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        .user_option a {
            margin: 0 10px;
        }
        
        .user_option .cart_link {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        .user_option .cart_link svg {
            width: 17px;
            height: auto;
            fill: #ffffff;
            margin-bottom: 2px;
        }
        
        .user_option .cart_link:hover svg {
            fill: #ffbe33;
        }
        
        .connexion {
            display: inline-block;
            padding: 15px;
            margin: 10px;
            background-color: #ffbe33;
            color: #ffffff;
            border-radius: 45px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            border: none;
        }
        
        .connexion:hover {
            background-color: #ffc300;
            text-decoration: none;
        }
        /*end header section*/
        /*start accueil section*/
        
        .accueil_section {
            padding: 100px 0;
            background-color: #000000;
            color: #ffffff;
        }
        
        h1 {
            font-family: 'Dancing Script', cursive;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 50px;
        }
        
        .accueil_section .row {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        .accueil_section .img-box {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        
        .accueil_section .img-box img {
            width: 100%;
            max-width: 445px;
            position: relative;
            z-index: 2;
        }
        
        .accueil_section .detail-box p {
            margin-top: 15px;
        }
        
        .accueil_section .detail-box a {
            display: inline-block;
            padding: 10px 45px;
            background-color: #ffbe33;
            color: #ffffff;
            border-radius: 45px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            border: none;
            margin-top: 15px;
        }
        
        .accueil_section .detail-box a:hover {
            background-color: #ffc300;
        }
        
        #demo {
            padding: 100px 100px 0 100px;
            width: 100%;
            height: 100%;
        }
        
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #ffc300;
        }
        
        .carousel-control-next-icon {
            margin-left: 100px;
            z-index: 1;
        }
        
        .carousel-control-prev-icon {
            margin-right: 100px;
            z-index: 1;
        }
        /*end accueil section*/
        /*admin section*/
        
        .admin_section {
            padding: 200px 0 300px 0;
            background-color: #000000;
            color: #000000;
            background-image: url(../images/backgroundadmin.webp);
            background-size: cover;
            width: 100%;
            height: 300%;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        /* footer section*/
        
        .footer_section {
            background-color: #000000;
            color: #ffffff;
            padding: 75px 0 0 0;
            text-align: center;
        }
        
        .footer_section h4 {
            font-size: 28px;
        }
        
        .footer_section h4,
        .footer_section .footer-logo {
            font-weight: 600;
            margin-bottom: 20px;
            font-family: 'Dancing Script', cursive;
        }
        
        .footer_section p {
            color: #dbdbdb;
        }
        
        .footer_section .footer-col {
            margin-bottom: 30px;
        }
        
        .footer_section .footer_contact .contact_link_box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        
        .footer_section .footer_contact .contact_link_box a {
            margin: 5px 0;
            color: #ffffff;
        }
        
        .footer_section .footer_contact .contact_link_box a i {
            margin-right: 5px;
        }
        
        .footer_section .footer_contact .contact_link_box a:hover {
            color: #ffbe33;
        }
        
        .footer_section .footer-logo {
            display: block;
            font-weight: bold;
            font-size: 48px;
            line-height: 1;
            color: #ffffff;
        }
        
        .footer_section .footer-logo img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 auto;
        }
        
        .footer_section .footer-logo:hover {
            color: #ffbe33;
            list-style: none;
        }
        
        .footer_section .footer_social {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .footer_section .footer_social a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #222831;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #ffffff;
            border-radius: 100%;
            margin: 0 2.5px;
            font-size: 18px;
        }
        
        .footer_section .footer_social a:hover {
            color: #ffbe33;
        }
        
        .footer_section .footer_social a i {
            margin-right: 0;
        }
        
        .footer_section .footer_link ul {
            list-style: none;
        }
        
        .footer_section .footer_link ul a {
            color: #ffffff;
            display: block;
        }
        
        .footer_section .footer_link ul a:hover {
            color: #ffbe33;
        }
        /* footer section end */
        /* contact section */
        
        .contact_section img {
            margin-top: 30%;
            width: 100%;
            max-width: 300px;
        }
        
        .contact_section h2 {
            font-family: 'Dancing Script', cursive;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 50px;
            color: white;
        }
        
        .contact_section .form_container .form-control {
            margin-bottom: 25px;
        }
        
        .contact_section .form_container .btn-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: #ffc300;
        }
        
        .contact_section .form_container button:hover {
            background-color: #ffc300;
        }
        /* footer section*/
        
        .log-box {
            width: 40%;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.2);
            padding: 35px;
            border: 2px solid #fff;
            border-radius: 20px/50px;
            background-clip: padding-box;
            text-align: center;
        }
        
        .open-button {
            font-size: 1em;
            padding: 10px;
            color: #fff;
            border: 2px solid #ffc300;
            border-radius: 20px/50px;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }
        
        .button:hover {
            background: #ffd60a;
        }
        
        .popup-overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
            z-index: 100;
        }
        
        .popup-overlay:target {
            visibility: visible;
            opacity: 1;
        }
        
        .log-popup {
            margin: 100px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 1s ease-in-out;
            text-align: center;
        }
        
        .log-popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
            text-transform: uppercase;
        }
        
        .log-popup .close-window {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }
        
        .log-popup .close-window:hover {
            color: #003566 !important;
        }
        
        .log-popup .log-content {
            max-height: 30%;
            overflow: auto;
        }
        
        @media screen and (max-width: 700px) {
            .log-box {
                width: 70%;
            }
            .log-popup {
                width: 70%;
            }
        }
        
        .log-input {
            font-size: 20px;
            padding: 5px 10px;
            margin-top: 15px;
            width: 60%;
            border: 1px solid #ffc300;
            outline: 0;
            border-radius: 50px;
        }
        
        .btn-log {
            font-size: 18px;
            background: #003566;
            padding: 10px;
            border: 0;
            outline: 0;
            display: inline;
            color: #fff;
            width: 60%;
            border-radius: 50px;
            margin-top: 13px;
        }
        
        .icon {
            padding: 15px 18px;
            background: #001D3D;
            color: white;
            text-align: center;
            border-radius: 50%;
        }
        /* login & registration end */
        /* contact */
        
        .contact_section {
            background-color: #000000;
            padding-top: 25px;
            position: relative;
            padding-bottom: 25px;
        }
        
        .contact_section img {
            margin-top: 0px;
        }
        
        .contact_section .heading_container {
            margin-bottom: 25px;
        }
        
        .contact_section .form_container .form-control {
            width: 100%;
            border: none;
            height: 50px;
            margin-bottom: 25px;
            padding-left: 25px;
            border: 1px solid #999;
            outline: none;
            color: #000000;
            border-radius: 5px;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .contact_section .form_container button {
            margin-top: 15px;
            border: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 55px;
            background-color: #ffbe33;
            color: #ffffff;
            border-radius: 45px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            border: none;
        }
        
        .contact_section .form_container button:hover {
            background-color: #ffc300;
        }
        /* browse*/
        
        .browse_section {
            background-color: #000000;
            padding: 100px 0 100px 0;
        }
        
        .container-fluid {
            padding: 100px 0 100px 0;
            background-color: #000000;
            color: #ffffff;
        }
        
        .searchBox {
            font-size: 25px;
            border-radius: 30px;
            padding: 7px 20px;
            width: 100%;
            border: 0;
            outline: 0;
            display: inline;
            color: #fff;
            background: #333;
        }
        
        .movieBox {
            background: #001D3D;
            height: 50%;
            width: 100%;
            border-radius: 10px;
            padding: 5px 5px 5px 5px;
            margin: 10px 10px 10px 10px;
        }
        
        .movieBox img {
            width: 100%;
            height: 150%;
            border-radius: 10px;
            padding: auto;
        }
        
        .browse-movie-bottom button {
            background-color: #ffbe33;
            color: #ffffff;
            border-radius: 45px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            border: none;
            margin-top: 15px;
            border: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px 55px;
        }
        
        .browse-movie-title {
            font-size: 20px;
            color: #fff;
            font-weight: 700;
            display: block;
            transition: color .15s ease-in-out;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
        
        a {
            text-decoration: none !important;
            background-color: transparent;
        }
        /* end browse */
        /* section_movie*/
        
        .section_movie {
            background-color: #000000;
            padding: 50px 0 50px 0;
            color: #ffffff;
        }
        
        .title-second {
            display: block;
            transition: color .15s ease-in-out;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .browse-movie-year {
            font-size: 0.85em;
            color: #919191;
        }
        
        .poster-image {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
        
        .movie_details {
            background-color: #000000;
            color: #ffffff;
        }
        /* responsive css */